<!-- dashboard/_patient_statistics.html.erb -->

<div class="card h-100">
  <div class="card-header">
    Patient Statistics
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col text-center">
        <p class="fs-4 text-primary"><%=  @active_health_concerns&.count || 0 %></p>
        <p>Active Health Concerns</p>
      </div>
      <div class="col text-center">
        <p class="fs-4 text-primary"><%= @active_problems&.count || 0 %></p>
        <p>Active Problems</p>
      </div>
      <div class="col text-center">
        <p class="fs-4 text-primary"><%= @active_goals &.count || 0 %></p>
        <p>Active Goals</p>
      </div>
      <div class="col text-center">
        <p class="fs-4 text-primary"><%= @active_referrals&.count || 0 %></p>
        <p>Active Action Steps</p>
      </div>
    </div>
  </div>
</div>

