<div class="tab-pane fade <%= 'show active' if active %>" id="<%= id %>" role="tabpanel" aria-labelledby="<%= id %>-tab">
  This is the Payers tab where all payers will be listed: name, address , fhir_resource(json in popover)
</div>
