<div class="tab-pane fade <%= 'show active' if active %>" id="<%= id %>" role="tabpanel" aria-labelledby="<%= id %>-tab">
  This is the Referral Organizations tab where all referral org will be listed: name, contact, address , fhir_resource(json in popover)
</div>
