<div class="container">

  <% if @active_referrals.nil? && @completed_referrals.nil? %>
    <h3 class="text-muted text-center my-3">Unable to fetch referrals from server</h3>
  <% else %>
    <div class="table-wrapper my-3">
      <div class="d-flex justify-content-between text-nowrap">
        <div class="title">
          <h3>Active Referrals</h3>
        </div>
        <button class="action-button btn btn-sm" data-bs-toggle="modal" data-bs-target="#add-referral-modal">
          <span class="icon"><i class="bi bi-plus-lg text-primary"></i></span>
          <span class="label">Add Referral</span>
        </button>
      </div>

      <% if @active_referrals.empty? %>
        <h3 class="text-muted text-center mb-3">Patient has no active referrals</h3>
      <% else %>
        <div id="active-tasks-table">
          <%= render "action_steps/table", referrals: @active_referrals, type: "active" %>
        </div>
      <% end %>
    </div>

    <div class="table-wrapper">
      <div class="header">
        <div class="title">
          <h3>Completed Referrals</h3>
        </div>
      </div>
      <% if @completed_referrals.empty? %>
        <h3 class="text-muted text-center">Patient has no completed referrals</h3>
      <% else %>
        <%= render "action_steps/table", referrals: @completed_referrals, type: "completed" %>
      <% end %>
    </div>

    <% content_for :modals do %>
      <%= render "action_steps/form_modal" %>
    <% end %>
  <% end %>

</div>

<script>
  const pollTasks = () => {
    fetch("<%= poll_tasks_path %>")
      .then(response => response.text())
      .then(response => {
        document.getElementById("active-tasks-table").innerHTML = response;
      });
  };

  setInterval(pollTasks, 300000);
</script>
