<!-- app/views/shared/_flash_messages.html.erb -->
<div class="d-flex justify-content-end">
<% flash.each_with_index do |(type, message), index| %>
  <div id="toast-<%= index %>"
       class="alert alert-<%= bootstrap_class_for(type) %>"
       role="alert"
       data-controller="toasts">
    <span><%= message %></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
</div>
