<!-- app/views/shared/_fhir_resource_modal.html.erb -->

<div class="modal fade" id="string-modal-<%= id %>" tabindex="-1" aria-labelledby="string-modal-label-<%= id %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content fw-bold">
      <div class="modal-header">
        <h5 class="modal-title" id="string-modal-label-<%= id %>">Text</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre><%= resource %></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
