<div class="container">

  <% if @active_goals.nil? && @completed_goals.nil? %>
    <h3 class="text-muted text-center my-3">Unable to fetch goals from server</h3>
  <% else %>
    <div class="table-wrapper my-3">
      <div class="d-flex justify-content-between text-nowrap">
        <div class="title">
          <h3>Active Goals</h3>
        </div>
        <button class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#add-goal-modal">Add Goal</button>
      </div>
      <% content_for :modals do %>
        <%= render "goals/form_modal"%>
      <% end %>
      <% if @active_goals.empty? %>
        <h3 class="text-muted text-center mb-3">Patient has no active goals</h3>
      <% else %>
        <%= render "goals/table", goals: @active_goals, type: "active" %>
      <% end %>
    </div>

    <% if session[:fhir_server_base_url] == 'https://gravity-ehr-server.herokuapp.com/fhir' %>
    <div>
      <a class="btn btn-primary mb-3" href="http://localhost:3000/oauth/launch?launch=pid-<%= session[:patient_id] %>&iss=https://gravity-ehr-server.herokuapp.com/fhir" target="_blank">
        Check for social care benefits
      </a>
    </div>
    <% end %>

    <div class="table-wrapper">
      <div class="header">
        <div class="title">
          <h3>Completed Goals</h3>
        </div>
      </div>
      <% if @completed_goals.empty? %>
        <h3 class="text-muted text-center">Patient has no completed goals</h3>
      <% else %>
        <%= render "goals/table", goals: @completed_goals, type: "completed" %>
      <% end %>
    </div>


  <% end %>

</div>
