// app/assets/stylesheets/_variables.scss

// Colors
$global-base-border-color: #dcdfe6;

// Font Sizes
$global-font-size: 14px;
$global-small-font-size: 12px;

// Font Weights
$global-font-weight-normal: 400;
$global-font-weight-bold: 700;
